@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    height: 100%;
    background: linear-gradient(135deg
    ,#00b7d4, #505488,#2F3F80,#161569,
    #5A4894, #A950A1,#FF7CAE);
    background-size: 200% 200%;
    animation: fondoanimado 10s infinite;
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.texto {
    color: wheat;
    text-align: center;
    margin: 300px 0;
    font-size: 28px;
}
h2 {
    color: wheat;
}
header {
    height: 90px;
    background-color: #001f3f;  
}
header h1 {
    color: wheat;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}
nav {
    height:50px;
    justify-content: center;
    background-color: #483d72;
    margin-bottom: 10px;
    display: flex;
    color: wheat;
}
nav h2 {
    font-size: 36px;
    text-align: center;
    line-height: 50px
}
nav li {
    margin: 0 50px;
    font-size: 30px
}
a {
    text-decoration: none;
    color: wheat;
}
nav ul {
    list-style-type: none;
    display: flex;
}
#content {
    flex: 1;
    min-height: 100vh;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
    clear: both;
    background-color: #7b63c8;
}
footer h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
@keyframes fondoanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}