@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: linear-gradient(135deg
    ,#00b7d4, #505488,#2F3F80,#161569,
    #5A4894, #A950A1,#FF7CAE);
    background-size: 200% 200%;
    animation: fondoanimado 10s infinite;
}
.texto {
    color: wheat;
    text-align: center;
    margin: 300px 0;
    font-size: 28px;
}
h2 {
    color: wheat;
}
header {
    height: 90px;
}
header h1 {
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}
nav {
    height:50px;
}
nav h2 {
    font-size: 36px;
    text-align: center;
    line-height: 50px
}
#content {
    width: 94%;
    margin: auto;
    margin-left: 40px;
    margin-top: 20px;
}
#contenido {
    width: 700px;
    height: 500px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    text-align: justify;
}
#contenido h2 {
    font-size: 40px;
    text-align: left;
    line-height: 60px;
}
aside {
    width: 250px;
    height: 500px;
    margin-top: 10px;
    float: right;
    text-align: start;
}
aside h2 {
    font-size: 40px;
    text-align: center;
    /*line-height: 500px;*/
}
footer {
    clear: both;
}
footer h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
@keyframes fondoanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}